<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <img src="https://w7.pngwing.com/pngs/430/315/png-transparent-airport-check-in-logo-video-games-user-interface-game-ui-icon-purple-game-violet.png">
    <a href="/vgames" <%- title === 'Video Games' ? 'class="active"' : '' %>>VIDEO GAMES</a>
    <% if (user) { %>
      <a href="/vgames/new" <%- title === 'Add Video Game' ? 'class="active"' : '' %>>ADD VIDEO GAME</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>