<h2>Enter a New Video Game</h2>
<form action="/vgames" method="POST">
  <label>Title:</label>
  <input type="text" name="title" /><br />

  <label>Release Year:</label>
  <input type="number" name="releaseYear" /><br />

  <label>ESRB Rating:</label>
  <select name="esrbRating">
    <option value="E">E</option>
    <option value="T">T</option>
    <option value="M">M</option></select
  ><br />

  <label>System:</label>
  <input type="text" name="system" />

  <label>Price:</label>
  <input type="text" name="price" />

  <button id="button" type="submit">Add Video Game</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
