<%- include('../partials/header') %>

<form id="new-form" action="/vgames" method="POST">
  <label>Title:</label>
  <input type="text" name="title" />
  <label>Release Year:</label>
  <input type="text" name="releaseYear" />
  <label>ESRB Rating</label>
  <select name="esrbRating">
    <option value="E">E</option>
    <option value="T">T</option>
    <option value="M">M</option>
  </select>
  <input type="submit" value="Add Video Game" />
</form>

<%- include('../partials/footer') %>
